In [2]:
# List, Dict, Set 연산용으로 사용이 불가능, 메모리 사용량이 크고 느려서
# 대규모 데이터를 다룰수 없음

[1,2,3]+[4,5,6], (1,2,3)+(4,5,6)

([1, 2, 3, 4, 5, 6], (1, 2, 3, 4, 5, 6))

In [7]:
import numpy
# 배열만들기
# 함수 사용시 Shift+Tab로 설명을 봅니다.
numpy.arange(1,10), numpy.arange(1,10, 2)

(array([1, 2, 3, 4, 5, 6, 7, 8, 9]), array([1, 3, 5, 7, 9]))

In [15]:
# 데이터를 numpy 배열로 변환하면 연산이 됩니다.
numpy.array([1,2,3]) + numpy.array([1,2,3])

array([1, 2, 3])

- 야후 파이낸스의 SP500 주식 데이터를 읽습니다.
- csv(로우레벨) 혹은 pandas(하이레벨)로 읽을수 있습니다.

In [1]:
import pandas

In [3]:
stock = pandas.read_csv('^GSPC.csv')
stock.shape

(20, 7)

In [4]:
stock

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-05-20,2841.939941,2853.860107,2831.290039,2840.229980,2840.229980,3288870000
1,2019-05-21,2854.020020,2868.879883,2854.020020,2864.360107,2864.360107,3218700000
2,2019-05-22,2856.060059,2865.469971,2851.110107,2856.270020,2856.270020,3192510000
3,2019-05-23,2836.699951,2836.699951,2805.489990,2822.239990,2822.239990,3891980000
4,2019-05-24,2832.409912,2841.360107,2820.189941,2826.060059,2826.060059,2887390000
5,2019-05-28,2830.030029,2840.510010,2801.580078,2802.389893,2802.389893,4121410000
6,2019-05-29,2790.250000,2792.030029,2766.060059,2783.020020,2783.020020,3700050000
7,2019-05-30,2786.939941,2799.000000,2776.739990,2788.860107,2788.860107,3273790000
8,2019-05-31,2766.149902,2768.979980,2750.520020,2752.060059,2752.060059,3981020000
9,2019-06-03,2751.530029,2763.070068,2728.810059,2744.449951,2744.449951,3943810000
10,2019-06-04,2762.639893,2804.489990,2762.639893,2803.270020,2803.270020,3810430000
11,2019-06-05,2818.090088,2827.280029,2800.919922,2826.149902,2826.149902,3548830000
12,2019-06-06,2828.510010,2852.100098,2822.449951,2843.489990,2843.489990,3396410000
13,2019-06-07,2852.870117,2884.969971,2852.870117,2873.340088,2873.340088,3220250000
14,2019-06-10,2885.830078,2904.770020,2885.510010,2886.729980,2886.729980,3209210000
15,2019-06-11,2903.270020,2910.610107,2878.530029,2885.719971,2885.719971,3548420000
16,2019-06-12,2882.729980,2888.570068,2874.679932,2879.840088,2879.840088,3034130000
17,2019-06-13,2886.239990,2895.239990,2881.989990,2891.639893,2891.639893,3069810000
18,2019-06-14,2886.820068,2894.449951,2879.620117,2886.979980,2886.979980,2922330000
19,2019-06-17,2889.750000,2897.270020,2887.300049,2889.669922,2889.669922,1579314342

In [11]:
arr = numpy.array(stock)   # array 데이터를 배열로 바꾸는 함수, 전처리시 numpy 배열로 만들어야함

In [17]:
arr[0] # == arr[0, :] # 1행을 출력해라

array(['2019-05-20', 2841.939941, 2853.860107, 2831.290039, 2840.22998,
       2840.22998, 3288870000], dtype=object)

In [15]:
arr[0,0] #첫번째 행의 첫번째 열

'2019-05-20'

In [16]:
arr[-1,-1] # 미자막 행의 마지막 열

1579314342

In [23]:
# open 만 가져와라
o = arr[:,1]
o

array([2841.939941, 2854.02002, 2856.060059, 2836.699951, 2832.409912,
       2830.030029, 2790.25, 2786.939941, 2766.149902, 2751.530029,
       2762.639893, 2818.090088, 2828.51001, 2852.8701170000004,
       2885.830078, 2903.27002, 2882.72998, 2886.23999, 2886.820068,
       2889.75], dtype=object)

In [38]:
# b(below) 아래 쪽에 셀 만들기
# open의 최대갓, 최소값, 평균을 구해보자
# Shift + Tab 함수 설명
# 통계치, 평균, 중간값, 표준편차
max(o), min(o), numpy.max(o), numpy.min(o), numpy.median(o), numpy.std(o)

(2903.27002,
 2751.530029,
 2903.27002,
 2751.530029,
 2839.319946,
 45.016996538592394)

In [27]:
# close
c = arr[:,-3]
print(c)
print(' ')
c = arr[:,4]
print(c)

[2840.22998 2864.360107 2856.27002 2822.23999 2826.060059 2802.389893
 2783.02002 2788.860107 2752.060059 2744.449951 2803.27002 2826.149902
 2843.48999 2873.340088 2886.72998 2885.719971 2879.840088 2891.639893
 2886.97998 2889.669922]

[2840.22998 2864.360107 2856.27002 2822.23999 2826.060059 2802.389893
 2783.02002 2788.860107 2752.060059 2744.449951 2803.27002 2826.149902
 2843.48999 2873.340088 2886.72998 2885.719971 2879.840088 2891.639893
 2886.97998 2889.669922]

In [47]:
c = arr[-1,:]
print(c)

['2019-06-17' 2889.75 2897.27002 2887.300049 2889.669922 2889.669922
 1579314342]

In [40]:
# Open High Low Close 4개의 컬럼을 뽑자
v4 = arr[:,1:5]
v4.shape

(20, 4)

In [51]:
numpy.max(v4, axis=0) , numpy.max(v4, axis=1)
# shape 값 (20,4) 중 20에 해당하는 y축에 해당하는 최대값을 뽑음, 최대값은 4개가 나옴

(array([2903.27002, 2910.610107, 2887.300049, 2891.639893], dtype=object),
 array([2853.860107, 2868.8798829999996, 2865.469971, 2836.699951,
        2841.360107, 2840.51001, 2792.030029, 2799.0, 2768.97998,
        2763.070068, 2804.48999, 2827.280029, 2852.100098, 2884.969971,
        2904.77002, 2910.610107, 2888.570068, 2895.23999, 2894.449951,
        2897.27002], dtype=object))

In [54]:
# argmax, argmin 맥스값의 위치
numpy.max(o), numpy.argmax(o) # max값, max값의 위치

(2903.27002, 15)

In [79]:
# 종가 - 시작
# close
day = arr[:,0]
close_v = arr[:,-3]
open_v = arr[:, 1]
vol = arr[:, -1]
gap = close_v- open_v

In [71]:
numpy.max(gap), numpy.argmax(gap)

(40.6301269999999, 10)

In [72]:
gap # 데이터 형이 바로 맞춰지네??

array([-1.7099610000000212, 10.34008700000004, 0.20996100000002116,
       -14.459961000000021, -6.3498530000001665, -27.640135999999984,
       -7.229980000000069, 1.920165999999881, -14.0898430000002,
       -7.080077999999958, 40.6301269999999, 8.059814000000188,
       14.979980000000069, 20.469970999999532, 0.899902000000111,
       -17.550048999999944, -2.8898920000001453, 5.399902999999995,
       0.15991200000007666, -0.08007799999995768], dtype=object)

### 데이터 분석(과거 데이터 기준으로 분석)
- 가격 상승하는 날 거래량이 많아 질까?

### 다음단계 : 예측
- 어제/오늘 현황 분석이 끝났는데 내일은 open/close 이 어떻게 될까?
- 방법 : 1. 통계적(R), 2, 머신러닝

In [82]:
# 상승한 날의 거래량의 평균
gap > 0
vol[gap > 0], vol[gap < 0]

(array([3218700000, 3192510000, 3273790000, 3810430000, 3548830000,
        3396410000, 3220250000, 3209210000, 3069810000, 2922330000],
       dtype=object),
 array([3288870000, 3891980000, 2887390000, 4121410000, 3700050000,
        3981020000, 3943810000, 3548420000, 3034130000, 1579314342],
       dtype=object))