In [5]:
import pandas as pd

In [27]:
df = pd.read_html('https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table', 
                 header=0, index_col=0)

In [28]:
len(df) #리스트 안에 요소 16개

16

In [43]:
data = df[1]
data

,Summer Games,Summer Games.1,Summer Games.2,Summer Games.3,Summer Games.4,Winter Games,Winter Games.1,Winter Games.2,Winter Games.3,Winter Games.4,Combined Total,Combined Total.1,Combined Total.2,Combined Total.3,Combined Total.4
Team (IOC code),№,NaN,NaN,NaN,Total,№,NaN,NaN,NaN,Total,№,NaN,NaN,NaN,Total
Afghanistan (AFG),14,0.0,0.0,2.0,2,0,0.0,0.0,0.0,0,14,0.0,0.0,2.0,2
Algeria (ALG),13,5.0,4.0,8.0,17,3,0.0,0.0,0.0,0,16,5.0,4.0,8.0,17
Argentina (ARG),24,21.0,25.0,28.0,74,19,0.0,0.0,0.0,0,43,21.0,25.0,28.0,74
Armenia (ARM),6,2.0,6.0,6.0,14,7,0.0,0.0,0.0,0,13,2.0,6.0,6.0,14
Australasia (ANZ) [ANZ],2,3.0,4.0,5.0,12,0,0.0,0.0,0.0,0,2,3.0,4.0,5.0,12
Australia (AUS) [AUS] [Z],26,147.0,163.0,187.0,497,19,5.0,5.0,5.0,15,45,152.0,168.0,192.0,512
Austria (AUT),27,18.0,33.0,36.0,87,23,64.0,81.0,87.0,232,50,82.0,114.0,123.0,319
Azerbaijan (AZE),6,7.0,11.0,24.0,42,6,0.0,0.0,0.0,0,12,7.0,11.0,24.0,42
Bahamas (BAH),16,6.0,2.0,6.0,14,0,0.0,0.0,0.0,0,16,6.0,2.0,6.0,14
Bahrain (BRN),9,2.0,1.0,0.0,3,0,0.0,0.0,0.0,0,9,2.0,1.0,0.0,3
Barbados (BAR) [BAR],12,0.0,0.0,1.0,1,0,0.0,0.0,0.0,0,12,0.0,0.0,1.0,1
Belarus (BLR),6,12.0,27.0,39.0,78,7,8.0,5.0,5.0,18,13,20.0,32.0,44.0,96
Belgium (BEL),26,40.0,53.0,55.0,148,21,1.0,2.0,3.0,6,47,41.0,55.0,58.0,154
Bermuda (BER),18,0.0,0.0,1.0,1,8,0.0,0.0,0.0,0,26,0.0,0.0,1.0,1
Bohemia (BOH) [BOH] [Z],3,0.0,1.0,3.0,4,0,0.0,0.0,0.0,0,3,0.0,1.0,3.0,4
Botswana (BOT),10,0.0,1.0,0.0,1,0,0.0,0.0,0.0,0,10,0.0,1.0,0.0,1
Brazil (BRA),22,30.0,36.0,63.0,129,8,0.0,0.0,0.0,0,30,30.0,36.0,63.0,129
British West Indies (BWI) [BWI],1,0.0,0.0,2.0,2,0,0.0,0.0,0.0,0,1,0.0,0.0,2.0,2
Bulgaria (BUL) [H],20,51.0,87.0,80.0,218,20,1.0,2.0,3.0,6,40,52.0,89.0,83.0,224
Burundi (BDI),6,1.0,1.0,0.0,2,0,0.0,0.0,0.0,0,6,1.0,1.0,0.0,2
Cameroon (CMR),14,3.0,1.0,2.0,6,1,0.0,0.0,0.0,0,15,3.0,1.0,2.0,6
Canada (CAN),26,64.0,102.0,136.0,302,23,73.0,64.0,62.0,199,49,137.0,166.0,198.0,501
Chile (CHI) [I],23,2.0,7.0,4.0,13,17,0.0,0.0,0.0,0,40,2.0,7.0,4.0,13
China (CHN) [CHN],10,224.0,167.0,155.0,546,11,13.0,28.0,21.0,62,21,237.0,195.0,176.0,608
Colombia (COL),19,5.0,9.0,14.0,28,2,0.0,0.0,0.0,0,21,5.0,9.0,14.0,28
Costa Rica (CRC),15,1.0,1.0,2.0,4,6,0.0,0.0,0.0,0,21,1.0,1.0,2.0,4
Ivory Coast (CIV) [CIV],13,1.0,1.0,1.0,3,0,0.0,0.0,0.0,0,13,1.0,1.0,1.0,3
Croatia (CRO),7,11.0,10.0,12.0,33,8,4.0,6.0,1.0,11,15,15.0,16.0,13.0,44
Cuba (CUB) [Z],20,78.0,68.0,80.0,226,0,0.0,0.0,0.0,0,20,78.0,68.0,80.0,226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sweden (SWE) [Z],27,145.0,170.0,179.0,494,23,57.0,46.0,55.0,158,50,202.0,216.0,234.0,652
Switzerland (SUI),28,50.0,75.0,67.0,192,23,56.0,45.0,52.0,153,51,106.0,120.0,119.0,345
Syria (SYR),13,1.0,1.0,1.0,3,0,0.0,0.0,0.0,0,13,1.0,1.0,1.0,3
Chinese Taipei (TPE) [TPE] [TPE2],14,5.0,7.0,12.0,24,12,0.0,0.0,0.0,0,26,5.0,7.0,12.0,24
Tajikistan (TJK),6,1.0,1.0,2.0,4,4,0.0,0.0,0.0,0,10,1.0,1.0,2.0,4
Tanzania (TAN) [TAN],13,0.0,2.0,0.0,2,0,0.0,0.0,0.0,0,13,0.0,2.0,0.0,2
Thailand (THA),16,9.0,8.0,16.0,33,4,0.0,0.0,0.0,0,20,9.0,8.0,16.0,33
Togo (TOG),10,0.0,0.0,1.0,1,2,0.0,0.0,0.0,0,12,0.0,0.0,1.0,1
Tonga (TGA),9,0.0,1.0,0.0,1,2,0.0,0.0,0.0,0,11,0.0,1.0,0.0,1
Trinidad and Tobago (TTO) [TTO],17,3.0,5.0,11.0,19,3,0.0,0.0,0.0,0,20,3.0,5.0,11.0,19
Tunisia (TUN),14,4.0,2.0,7.0,13,0,0.0,0.0,0.0,0,14,4.0,2.0,7.0,13
Turkey (TUR),22,39.0,24.0,28.0,91,17,0.0,0.0,0.0,0,39,39.0,24.0,28.0,91
Uganda (UGA),15,2.0,3.0,2.0,7,0,0.0,0.0,0.0,0,15,2.0,3.0,2.0,7
Ukraine (UKR),6,35.0,30.0,56.0,121,7,3.0,1.0,4.0,8,13,38.0,31.0,60.0,129
United Arab Emirates (UAE),9,1.0,0.0,1.0,2,0,0.0,0.0,0.0,0,9,1.0,0.0,1.0,2
United States (USA) [P] [Q] [R] [Z],27,1022.0,795.0,705.0,2522,23,105.0,112.0,88.0,305,50,1127.0,907.0,793.0,2827
Uruguay (URU),21,2.0,2.0,6.0,10,1,0.0,0.0,0.0,0,22,2.0,2.0,6.0,10
Uzbekistan (UZB),6,8.0,6.0,17.0,31,7,1.0,0.0,0.0,1,13,9.0,6.0,17.0,32
Venezuela (VEN),18,2.0,4.0,9.0,15,4,0.0,0.0,0.0,0,22,2.0,4.0,9.0,15
Vietnam (VIE),15,1.0,3.0,0.0,4,0,0.0,0.0,0.0,0,15,1.0,3.0,0.0,4
Virgin Islands (ISV),12,0.0,1.0,0.0,1,7,0.0,0.0,0.0,0,19,0.0,1.0,0.0,1
Yugoslavia (YUG) [YUG],18,28.0,31.0,31.0,90,16,0.0,3.0,1.0,4,34,28.0,34.0,32.0,94
Zambia (ZAM) [ZAM],13,0.0,1.0,1.0,2,0,0.0,0.0,0.0,0,13,0.0,1.0,1.0,2
Zimbabwe (ZIM) [ZIM],13,3.0,4.0,1.0,8,1,0.0,0.0,0.0,0,14,3.0,4.0,1.0,8
Unified Team (EUN) [EUN],1,45.0,38.0,29.0,112,1,9.0,6.0,8.0,23,2,54.0,44.0,37.0,135
Independent Olympic Athletes (IOA) [IOA],3,1.0,0.0,1.0,2,0,0.0,0.0,0.0,0,3,1.0,0.0,1.0,2
Independent Olympic Participants (IOP) [IOP],1,0.0,1.0,2.0,3,0,0.0,0.0,0.0,0,1,0.0,1.0,2.0,3
Olympic Athletes from Russia (OAR) [OAR],0,0.0,0.0,0.0,0,1,2.0,6.0,9.0,17,1,2.0,6.0,9.0,17
Mixed team (ZZX) [ZZX],3,8.0,5.0,4.0,17,0,0.0,0.0,0.0,0,3,8.0,5.0,4.0,17
Totals,28,5115.0,5081.0,5487.0,15683,23,1062.0,1058.0,1050.0,3170,51,6177.0,6139.0,6537.0,18853

In [34]:
type(data) # 타입 : 데이터 프레임(컬럼, 인덱스, 밸류)

pandas.core.frame.DataFrame

In [37]:
data.columns # 컬럼 이름들

Index(['Summer Games', 'Summer Games.1', 'Summer Games.2', 'Summer Games.3',
       'Summer Games.4', 'Winter Games', 'Winter Games.1', 'Winter Games.2',
       'Winter Games.3', 'Winter Games.4', 'Combined Total',
       'Combined Total.1', 'Combined Total.2', 'Combined Total.3',
       'Combined Total.4'],
      dtype='object')

In [40]:
data.index # 가장 좌측의 데이터

Index(['Team (IOC code)', 'Afghanistan (AFG)', 'Algeria (ALG)',
       'Argentina (ARG)', 'Armenia (ARM)', 'Australasia (ANZ) [ANZ]',
       'Australia (AUS) [AUS] [Z]', 'Austria (AUT)', 'Azerbaijan (AZE)',
       'Bahamas (BAH)',
       ...
       'Virgin Islands (ISV)', 'Yugoslavia (YUG) [YUG]', 'Zambia (ZAM) [ZAM]',
       'Zimbabwe (ZIM) [ZIM]', 'Unified Team (EUN) [EUN]',
       'Independent Olympic Athletes (IOA) [IOA]',
       'Independent Olympic Participants (IOP) [IOP]',
       'Olympic Athletes from Russia (OAR) [OAR]', 'Mixed team (ZZX) [ZZX]',
       'Totals'],
      dtype='object', length=154)

In [42]:
data.values # 데이터의 값들

array([['№', nan, nan, ..., nan, nan, 'Total'],
       ['14', 0.0, 0.0, ..., 0.0, 2.0, '2'],
       ['13', 5.0, 4.0, ..., 4.0, 8.0, '17'],
       ...,
       ['0', 0.0, 0.0, ..., 6.0, 9.0, '17'],
       ['3', 8.0, 5.0, ..., 5.0, 4.0, '17'],
       ['28', 5115.0, 5081.0, ..., 6139.0, 6537.0, '18853']], dtype=object)

In [44]:
df[1].head(2)

,Summer Games,Summer Games.1,Summer Games.2,Summer Games.3,Summer Games.4,Winter Games,Winter Games.1,Winter Games.2,Winter Games.3,Winter Games.4,Combined Total,Combined Total.1,Combined Total.2,Combined Total.3,Combined Total.4
Team (IOC code),№,NaN,NaN,NaN,Total,№,NaN,NaN,NaN,Total,№,NaN,NaN,NaN,Total
Afghanistan (AFG),14,0.0,0.0,2.0,2,0,0.0,0.0,0.0,0,14,0.0,0.0,2.0,2

In [48]:
data.shape # 형태 파악

(154, 15)

In [52]:
data.info() # 데이터 정보 구하기

<class 'pandas.core.frame.DataFrame'>
Index: 154 entries, Team (IOC code) to Totals
Data columns (total 15 columns):
Summer Games        154 non-null object
Summer Games.1      153 non-null float64
Summer Games.2      153 non-null float64
Summer Games.3      153 non-null float64
Summer Games.4      154 non-null object
Winter Games        154 non-null object
Winter Games.1      153 non-null float64
Winter Games.2      153 non-null float64
Winter Games.3      153 non-null float64
Winter Games.4      154 non-null object
Combined Total      154 non-null object
Combined Total.1    153 non-null float64
Combined Total.2    153 non-null float64
Combined Total.3    153 non-null float64
Combined Total.4    154 non-null object
dtypes: float64(9), object(6)
memory usage: 19.2+ KB

In [55]:
data.describe() # 통계치 구하기(실수 데이터 컬람만 대상, 문자 제외)

,Summer Games.1,Summer Games.2,Summer Games.3,Winter Games.1,Winter Games.2,Winter Games.3,Combined Total.1,Combined Total.2,Combined Total.3
count,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000
mean,66.862745,66.418301,71.725490,13.882353,13.830065,13.725490,80.745098,80.248366,85.450980
std,422.599849,416.404023,447.853436,87.722270,87.279179,86.350893,508.851901,502.521776,533.219133
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,3.000000,4.000000,6.000000,0.000000,0.000000,0.000000,3.000000,4.000000,6.000000
75%,26.000000,30.000000,31.000000,1.000000,2.000000,1.000000,28.000000,31.000000,34.000000
max,5115.000000,5081.000000,5487.000000,1062.000000,1058.000000,1050.000000,6177.000000,6139.000000,6537.000000

In [58]:
 data.describe().shape # 실수데이터 9개

(8, 9)

In [59]:
data.sample(5) #아무거나 x건

,Summer Games,Summer Games.1,Summer Games.2,Summer Games.3,Summer Games.4,Winter Games,Winter Games.1,Winter Games.2,Winter Games.3,Winter Games.4,Combined Total,Combined Total.1,Combined Total.2,Combined Total.3,Combined Total.4
Uruguay (URU),21,2.0,2.0,6.0,10,1,0.0,0.0,0.0,0,22,2.0,2.0,6.0,10
Haiti (HAI) [J],15,0.0,1.0,1.0,2,0,0.0,0.0,0.0,0,15,0.0,1.0,1.0,2
Hungary (HUN),26,175.0,147.0,169.0,491,23,1.0,2.0,4.0,7,49,176.0,149.0,173.0,498
Tajikistan (TJK),6,1.0,1.0,2.0,4,4,0.0,0.0,0.0,0,10,1.0,1.0,2.0,4
Afghanistan (AFG),14,0.0,0.0,2.0,2,0,0.0,0.0,0.0,0,14,0.0,0.0,2.0,2

In [68]:
d = {'a':1, 'b':[1,2,3]}
#d[['a','b']]

In [69]:
# 데이터 프레임은 딕셔너리 구조, 다수 컬럼 가져올때 리스트 [] 로 묶기
data[['Summer Games.1','Summer Games.2']].head()

                   Summer Games.1  Summer Games.2
Team (IOC code)               NaN             NaN
Afghanistan (AFG)             0.0             0.0
Algeria (ALG)                 5.0             4.0
Argentina (ARG)              21.0            25.0
Armenia (ARM)                 2.0             6.0

In [75]:
# data[0]에 해당, i(index)loc(ation)
data.iloc[:5, :3]

                  Summer Games  Summer Games.1  Summer Games.2
Team (IOC code)              №             NaN             NaN
Afghanistan (AFG)           14             0.0             0.0
Algeria (ALG)               13             5.0             4.0
Argentina (ARG)             24            21.0            25.0
Armenia (ARM)                6             2.0             6.0

In [76]:
data.dtypes # data.info() 로 타입 검사
# 수치형이어야 하는데, 누락이나 object로 되어 있으면 조치 필요

Summer Games         object
Summer Games.1      float64
Summer Games.2      float64
Summer Games.3      float64
Summer Games.4       object
Winter Games         object
Winter Games.1      float64
Winter Games.2      float64
Winter Games.3      float64
Winter Games.4       object
Combined Total       object
Combined Total.1    float64
Combined Total.2    float64
Combined Total.3    float64
Combined Total.4     object
dtype: object

In [79]:
data.max() #컬럼 별 최대값

Summer Games            №
Summer Games.1       5115
Summer Games.2       5081
Summer Games.3       5487
Summer Games.4      Total
Winter Games            №
Winter Games.1       1062
Winter Games.2       1058
Winter Games.3       1050
Winter Games.4      Total
Combined Total          №
Combined Total.1     6177
Combined Total.2     6139
Combined Total.3     6537
Combined Total.4    Total
dtype: object

In [80]:
new_data = data.dropna() # 누락 값이 있는 행을 제거해서 리턴, data는 제거 없이 그대로
new_data.head()

,Summer Games,Summer Games.1,Summer Games.2,Summer Games.3,Summer Games.4,Winter Games,Winter Games.1,Winter Games.2,Winter Games.3,Winter Games.4,Combined Total,Combined Total.1,Combined Total.2,Combined Total.3,Combined Total.4
Afghanistan (AFG),14,0.0,0.0,2.0,2,0,0.0,0.0,0.0,0,14,0.0,0.0,2.0,2
Algeria (ALG),13,5.0,4.0,8.0,17,3,0.0,0.0,0.0,0,16,5.0,4.0,8.0,17
Argentina (ARG),24,21.0,25.0,28.0,74,19,0.0,0.0,0.0,0,43,21.0,25.0,28.0,74
Armenia (ARM),6,2.0,6.0,6.0,14,7,0.0,0.0,0.0,0,13,2.0,6.0,6.0,14
Australasia (ANZ) [ANZ],2,3.0,4.0,5.0,12,0,0.0,0.0,0.0,0,2,3.0,4.0,5.0,12

In [83]:
data[10:20] # 배열처럼 사용가능, 행은 선택 가능한, 컬럼 선택 안됨
data.iloc[10:20, :2]

                                Summer Games  Summer Games.1
Bahrain (BRN)                              9             2.0
Barbados (BAR) [BAR]                      12             0.0
Belarus (BLR)                              6            12.0
Belgium (BEL)                             26            40.0
Bermuda (BER)                             18             0.0
Bohemia (BOH) [BOH] [Z]                    3             0.0
Botswana (BOT)                            10             0.0
Brazil (BRA)                              22            30.0
British West Indies (BWI) [BWI]            1             0.0
Bulgaria (BUL) [H]                        20            51.0

In [85]:
data.sort_values('Summer Games', ascending=False).head()

,Summer Games,Summer Games.1,Summer Games.2,Summer Games.3,Summer Games.4,Winter Games,Winter Games.1,Winter Games.2,Winter Games.3,Winter Games.4,Combined Total,Combined Total.1,Combined Total.2,Combined Total.3,Combined Total.4
Team (IOC code),№,NaN,NaN,NaN,Total,№,NaN,NaN,NaN,Total,№,NaN,NaN,NaN,Total
Lithuania (LTU),9,6.0,6.0,13.0,25,9,0.0,0.0,0.0,0,18,6.0,6.0,13.0,25
Samoa (SAM),9,0.0,1.0,0.0,1,0,0.0,0.0,0.0,0,9,0.0,1.0,0.0,1
Qatar (QAT),9,0.0,1.0,4.0,5,0,0.0,0.0,0.0,0,9,0.0,1.0,4.0,5
Mauritius (MRI),9,0.0,0.0,1.0,1,0,0.0,0.0,0.0,0,9,0.0,0.0,1.0,1

In [92]:
data.head()
summer = data.iloc[1:, :5] # 첫행 날리고 저장
summer.head(2)

,Summer Games,Summer Games.1,Summer Games.2,Summer Games.3,Summer Games.4
Afghanistan (AFG),14,0.0,0.0,2.0,2
Algeria (ALG),13,5.0,4.0,8.0,17

In [93]:
summer.columns

Index(['Summer Games', 'Summer Games.1', 'Summer Games.2', 'Summer Games.3',
       'Summer Games.4'],
      dtype='object')

In [95]:
summer.columns = ['경기수', '금', '은', '동', '계']
summer.head()

                        경기수     금     은     동   계
Afghanistan (AFG)        14   0.0   0.0   2.0   2
Algeria (ALG)            13   5.0   4.0   8.0  17
Argentina (ARG)          24  21.0  25.0  28.0  74
Armenia (ARM)             6   2.0   6.0   6.0  14
Australasia (ANZ) [ANZ]   2   3.0   4.0   5.0  12

In [100]:
summer.sort_values('금', ascending=False).to_excel('하계올림픽메달.xlsx')

In [101]:
df = pd.read_html('https://en.wikipedia.org/wiki/All-time_table_of_the_FIFA_World_Cup', 
                 header=0, index_col=0)